.feedbacks {
    padding-bottom: 65px;

    &__title {
        margin-bottom: 35px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__comments {
        width: 55%;
    }

    &__comment {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }

    &__more {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        background-color: transparent;
        border: none;
        color: $blue;
        cursor: pointer;
    }

    


}

.user-comment {

    &__info {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profile {
        display: flex;
        align-items: center;
    }

    &__avatar {
        margin-right: 13px;

        img {
            width: 51px;
            height: 51px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__profile-info {
        
        span {
            max-width: 400px;
            display: block;
        }
    }

    &__name {
        font-size: 18px;
        line-height: 25px;
        color: #353535;
        margin-bottom: 5px;
    }

    &__date {
        font-size: 12px;
        line-height: 15px;
        color: #9F9F9F;
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        color: #353535;
    }
}