.feedbacks {
    padding-bottom: 65px;

    &__title {
        margin-bottom: 35px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__comments {
        width: 55%;
    }

    &__comment {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }

    &__more {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        background-color: transparent;
        border: none;
        color: $blue;
        cursor: pointer;
    }

    &__box {
        align-self: flex-start;
        min-width: 352px;
        padding: 40px 35px 57px;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        .rating {
            span {
                width: 23px;
                height: 23px;
            }
    
        }
    }

    &__box-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }


    &__grade {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #353535;
    }

    

    &__grades {
        margin-bottom: 50px;
    }

    &__grades-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__box-text {
        min-width: 65px;
        font-size: 14px;
        line-height: 18px;
        color: #353535;
    }

    &__line {
        position: relative;
        display: inline-block;
        flex-grow: 1;
        height: 2px;
        background-color: #E5E5E5;
        margin: 0 10px;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 70%;
            height: 100%;
            background-color: #FFA800;
        }
    }

    &__btn-wrap {
        text-align: center;
    }


}

.user-comment {

    &__info {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profile {
        display: flex;
        align-items: center;
    }

    &__avatar {
        margin-right: 13px;

        img {
            width: 51px;
            height: 51px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__profile-info {
        
        span {
            max-width: 400px;
            display: block;
        }
    }

    &__name {
        font-size: 18px;
        line-height: 25px;
        color: #353535;
        margin-bottom: 5px;
    }

    &__date {
        font-size: 12px;
        line-height: 15px;
        color: #9F9F9F;
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        color: #353535;
    }
}