.links {
    padding-bottom: 52px;

    &__title {
        margin-bottom: 19px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: 25%;
        margin-bottom: 33px;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    &__list-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__list-link {
        color: #404040;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $blue;
        transition:color .5s ;

        svg {
            width: 31px;
            height: 9px;
            fill: $blue;
            transition:fill .5s ;
            margin-left: 10px;
        }
        &:hover {
            color: $red;
            svg{
                fill: $red;
            }
        }
    }
}