.btn {
    height: 40px;
    padding-left: 30px;
    padding-right: 25px;

    background-color: $blue;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color .5s;

    &_disabled {
        display: none;
        background-color: #999999;
        cursor: auto;
    }

    &_big {
        height: 53px;
    }

    &_wide {
        height: 51px;
        min-width: 281px;
        background-color: #FD433C;

        &:hover {
            background-color: rgba(253, 67, 60, .8);
        }
    }

    &:hover:not(.btn_disabled, .btn_wide) {
        background-color: #7FB1ED;
    }
}

.title {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E5E5;
}

.check {
    position: relative;
    padding-left: 22px;
    cursor: pointer;

    &:hover {
        .check__box {
            border-color: $red;
        }
    }

    &__input {
        position: absolute;
        appearance: none;

        &:checked~.check__box {
            background-color: $red;
            border: none;
        }

        &:focus~.check__box {
            border-color: $red;
        }
    }

    &__box {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #999999;
        border-radius: 3px;
        background: url(../img/icons/ok.svg) center center no-repeat;
        transition: border-color .3s;
    }
}

.btn-close {
    width: 18px;
    height: 18px;
    background: url(../img/icons/close-gray.svg) center center / cover no-repeat;
    border: none;
    cursor: pointer;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 100%;
    background: url(../img/icons/search.svg) center center no-repeat;
    background-color: transparent;
    border: none;

    &_open {
        position: static;
        height: 42px;
        display: none;
    }
}

.burger {
    display: none;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    background: url(../img/icons/mobile-burger.svg) center center / cover no-repeat;

    &-wrap {
        display: none;
    }

    &_close {
        background-image: url(../img/icons/close.svg);
    }
}

.label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 8px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    &:not(:last-child) {
        margin-bottom: 8px;
    }
    &_new {
        background-color: #55BB9F;
       
    }

    &_gift {
        background-color: #7FB1ED;
    }

    &_discount {
        background-color: $red;
    }
}

.feedback {
    display: inline-flex;
    align-items: center;


    &__comments {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #6E6E6E;
        transition: color .5s;
        margin-left: 10px;

        svg {
            width: 21px;
            height: 16px;
            fill: #6E6E6E;
            margin-right: 5px;
            transition: fill .5s;
        }

        &:hover {
            color: $red;

            svg {
                fill: $red;
            }
        }
    }
}

.rating {
    span {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(../img/icons/rating-not-active.svg) center center / cover no-repeat;

        &.active {
            background-image: url(../img/icons/rating.svg);
        }

        &:not(:last-child) {
            margin-right: 3px;
        }
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: box-shadow .5s;

    &__labels {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
    }

    .label {

        &_new,
        &_gift,
        &_discount {
            display: none;
        }
    }


    &__content {
        flex-grow: 1;
        position: relative;
        margin-bottom: 10px;

        &:hover {

            .card__title,
            .card__price {
                color: $blue;
            }
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 7px;
        height: 285px;

        img {
            max-height: 100%;
        }
    }

    &__prices {
        display: inline-flex;
        align-items: center;
        margin-bottom: 5px;

    }

    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #404040;
        transition: color .5s;

        &_old {
            display: none;
            text-decoration: line-through;
            margin-left: 12px;
            font-size: 14px;
            line-height: 25px;
            color: #6E6E6E;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 22px;
        transition: color .5s;
    }

    &__feedback {
        margin-bottom: 26px;
    }



    &__btn {
        align-self: flex-start;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    button {
        align-self: flex-start;
    }

    &_new {
        .label_new {
            display: inline-flex;
        }
    }

    &_gift {
        .label_gift {
            display: inline-flex;
        }
    }

    &_discount {
        .label_discount {
            display: inline-flex;
        }

        .card__price_old {
            display: block;
        }
    }

    &_unavailable {
        .card__btn {
            display: none;
        }

        .btn_disabled {
            display: inline-block;
        }
    }
}

.card-list {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    .card__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 0;
        justify-content: center;

        &:hover {


            .card__title {
                color: $main-color;
            }

            .card__price {
                color: $main-color;

                &_old {
                    color: #6e6e6e;
                }
            }
        }
    }

    .card__img {

        display: flex;
        width: 185px;
        height: 185px;
        margin-right: 25px;
    }

    .card__title {
        max-width: 500px;
        margin-bottom: 20px;

        a {
            transition: inherit;

            &:hover {
                color: $blue;
            }
        }

    }

    .card__labels {
        position: static;
        flex-direction: row;
        margin-bottom: 22px;
    }

    .label {
        margin-bottom: 0;
    }

    .label {
        &:not(:last-child) {
            margin-right: 25px;
        }

        &_discount {
            position: static;
        }
    }

    .card__feedback {
        margin-bottom: 0;
    }

    .card__prices {
        align-items: flex-end;
        justify-content: flex-end;
        order: 1;
        flex-basis: 40%;
        margin-bottom: 15px;
    }

    .card__btns {
        text-align: right;
        flex-basis: 40%;
        order: 2;
    }

    .card__btn {
        align-self: auto;
    }
}



.card-grid {

    .card__labels {
        position: absolute;
    }

    .label {
        margin-bottom: 8px;
    }

    .label_discount {
        position: static;
        align-self: flex-start;
    }

    .card__img:hover ~ .card__content .card__title{
        color: $blue;
    }

    .card__content {
        position: static;
        display: flex;
        flex-direction: column;

        &:hover {


            .card__title {
                color: $main-color;
            }

            .card__price {
                color: $main-color;

                &_old {
                    color: #6e6e6e;
                }
            }
        }
    }

    .card__title {
        flex-grow: 1;
        margin-bottom: 20px;

        a {
            transition: inherit;

            &:hover {
                color: $blue;
            }
        }

    }
}



.news-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 10px 15px;
    background: center center / 100% 100% no-repeat;
    border-radius: 5px;
    transition: background-size .5s ease;

    &:hover {
        background-size: 120% 120%;
    }

    &_main {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        grid-row: 1 / 3;
        background: linear-gradient(15.37deg, #142840 5.12%, #1A467C 91.24%);

        img {
            transition: transform .5s;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }

    &_big {
        grid-column: 3 / 5;
    }

    &__descr {
        margin-bottom: 22px;
    }

    &__title {
        font-weight: 600;
        color: #FFFFFF;

        &_big {
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }
}


.feedbacks-box {
    align-self: flex-start;
    min-width: 352px;
    padding: 40px 35px 57px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;

    .rating {
        span {
            width: 23px;
            height: 23px;
        }

    }


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }


    &__grade {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #353535;
    }



    &__grades {
        margin-bottom: 50px;
    }

    &__grades-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__text {
        min-width: 65px;
        font-size: 14px;
        line-height: 18px;
        color: #353535;
    }

    &__line {
        position: relative;
        display: inline-block;
        flex-grow: 1;
        height: 2px;
        background-color: #E5E5E5;
        margin: 0 10px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 70%;
            height: 100%;
            background-color: #FFA800;
        }
    }

    &__btn-wrap {
        text-align: center;
    }
}