body {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: $main-color;
}
.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}
.lock {
    overflow:hidden;
}
.link {
    &::before {
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
    }
}