@media(max-width: 1365px) {
    .product {
        &__inner {
            flex-wrap: wrap;
        }

        &__slider,
        &__specifications {
            flex-basis: 25%;
        }

        // &__slider-nav  {
        //     width: 90px;
        // }
        &__specifications {
            flex-grow: 1;
        }

        &__info {
            flex-grow: 1;
            flex-basis: 50%;
            margin-top: 40px;
        }

        &__specifications-data {
            width: auto;
        }
    }
}

@media(max-width: 1199px) {
    .header {
        padding-bottom: 0;

        &__menu {
            flex-grow: 1;
        }

        &__menu-list {
            justify-content: center;
        }

        &__menu-list>&__menu-item {
            &:nth-child(n + 6) {
                display: none;
            }
        }

        &__menu-item_more {
            display: block;
        }

        &__menu-link {
            font-size: 13px;
            line-height: 16px;
        }

        &__contacts {
            display: none;

            &_media {
                display: inline-flex;

            }
        }

        .container.not-padding {
            padding: 0;
        }

        &__info {
            position: relative;
            padding: 0 15px;
            flex-wrap: wrap;

            &::after {
                content: '';
                position: absolute;
                top: 57%;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #e9e9e9;
            }
        }

        &__form {
            max-width: 38%;
        }

        &__categories {
            margin-top: 12px;
            width: 100%;
            order: 1;
        }

        .header__btn {
            padding-left: 36px;
            background-position: center left;
            background-color: transparent;
            color: $blue;
            background-image: url(../img/icons/burger-blue.svg);

            &:hover {
                background-color: #7fb1ed45;
            }
        }

        &__categories-list {
            left: 0;
            min-width: 585px;
            height: 410px;
        }

    }

    .promo {
        padding-bottom: 50px;

        &__title {
            font-size: 38px;
            line-height: 42px;
        }

        &__text {
            font-size: 20px;
            line-height: 25px;
        }
    }

    .products {
        padding-bottom: 70px;

        &__cards {
            grid-template-columns: repeat(3, 1fr);
        }

        &__banner {
            margin: 45px 0;
        }

    }

    .banner {
        &__title {
            font-size: 50px;
            line-height: 60px;
        }

        &__text {
            font-size: 25px;
            line-height: 30px;
        }
    }

    .links {
        &__item {
            flex-basis: 33.333%;
        }
    }

    .news {
        padding-bottom: 65px;

        &__cards {
            grid-template-columns: repeat(3, 1fr);
        }

    }

    .news-card {
        &_main {
            grid-row: 1 /2;
            display: block;

        }

        &__text {
            z-index: 1;
            position: relative;
        }

        .link::before {
            z-index: 2;
        }

        &__img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                opacity: 0.5;
            }
        }

        &_big {
            grid-column: 3 / 4;
            background-size: 150% 100%;

            &:hover {
                background-size: 180% 120%;
            }
        }
    }

    .catalog {
        &__sort-actions {
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        .form-select {
            text-align: right;
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }

        &__select {
            font-size: 15px;
        }
    }

    .card-list {
        align-items: center;

        .card__img {
            flex-shrink: 0;
        }

        .card__content {
            align-items: flex-start;
        }

        .card__labels {
            margin-bottom: 15px;
        }

        .label:not(:last-child) {
            margin-right: 15px;
        }

        .card__title {
            margin-bottom: 15px;
        }

        .card__prices {
            margin-top: 15px;
            flex-basis: auto;
            align-items: stretch;
        }

        .card__btns {
            flex-basis: auto;
        }
    }

    .product {
        &__header-wrap {
            flex-direction: column;
            align-items: stretch;
        }

        &__check {
            margin-top: 15px;
            margin-right: 0;
            order: 1;
        }
    }

    .footer {
        &__blocks {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 35px;
        }
    }



}

@media(max-width: 991px) {


    .promo {
        padding-bottom: 30px;

        &__descr {
            margin-right: 0;
        }

        &__title {
            font-size: 35px;
            line-height: 40px;
        }

        &__text {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

    .products {
        padding-bottom: 50px;

        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }

        &__banner {
            margin: 35px 0;
        }
    }

    .banner {
        &__title {
            font-size: 40px;
            line-height: 50px;
        }

        &__text {
            font-size: 20px;
            line-height: 25px;
        }
    }

    .links {
        padding-bottom: 32px;

        &__item {
            flex-basis: 50%;
        }
    }

    .news {
        padding-bottom: 45px;

        &__inner {
            overflow-x: scroll;
        }

        &__cards {
            grid-template-columns: repeat(4, 335px);
        }
    }

    .news-card {
        &_main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            grid-row: 1 / 3;
        }

        &_big {
            grid-column: 3 / 5;
            background-size: 100% 100%;

            &:hover {
                background-size: 120% 120%;
            }
        }

        &__img {
            position: static;
            transform: translateX(0);

            img {
                opacity: 1;
            }
        }
    }

    .advantages {
        padding-bottom: 40px;
    }

    .catalog {
        .form-select {
            width: 80%;
            text-align: left;
            order: 1;
            margin-bottom: 0;
        }

        &__btns-wrapper {

            overflow-x: scroll;
        }

        &__btns-filter {
            min-width: 119%;
        }

        &__quantity {
            padding-left: 5px;
            margin-bottom: 15px;
        }

        &__btns {
            margin-left: auto;
            margin-bottom: 15px;
        }

        &__btn-open {
            display: inline-flex;
            margin-left: auto;
            order: 2;
        }

        &__sort-item {
            display: none;
        }

        &__sort-actions {
            width: 100%;
            justify-content: stretch;
        }
    }

    .filter {

        position: fixed;
        top: auto;
        bottom: -150%;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: #FFFFFF;
        padding: 15px 0;
        transition: bottom .5s;

        &.active {
            bottom: 0;
        }

        &__header {
            display: flex;
        }

        &__form {
            padding: 0 15px;
        }
    }

    .product {
        &__title {
            flex-basis: 100%;
            border-bottom: 1px solid #E5E5E5;
            padding-bottom: 8px;
            margin-bottom: 15px;
        }

        &__header {
            margin-bottom: 20px;
        }

        &__header-wrap {
            order: 1;
        }

        .ok,
        .dn {
            display: none;
        }

        &__items {
            border-top: none;
            padding-top: 0;
            margin-top: 0;
            align-items: stretch;
            flex-direction: column;
            flex-basis: 50%;
        }

        &__labels,
        &__feedback {
            margin-right: 0;
        }

        &__feedback {
            order: -1;
            margin-bottom: 15px;
        }

        p.ok {
            margin-left: 0;
        }

        &__slider-nav {
            width: 90px;

            .swiper-slide {
                padding: 10px 15px;
            }
        }

        &__slider-main {
            width: 260px;
        }

        &__box {
            max-width: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .footer {
        &__blocks {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media(max-width: 767px) {


    .header {
        &__form {
            margin: 0 15px;
        }
    }

    .promo {
        &__slide {
            padding: 28px 15px 52px;
            flex-direction: column;
        }

        &__descr {
            margin-top: 22px;
            order: 1;
        }

        &__title {
            font-size: 30px;
            line-height: 35px;
        }

        &__slider-btn {
            display: none;
        }
    }

    .products {
        padding-bottom: 40px;

        &__card {
            flex-shrink: 0;
            flex-basis: 250px;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    .banner {
        &__title {
            font-size: 35px;
            line-height: 40px;
        }
    }

    .links {
        padding-bottom: 22px;
    }

    .news {
        padding-bottom: 35px;
    }

    .text {
        padding-bottom: 33px;

        &__content {
            &:nth-child(n + 4) {
                display: none;
            }
        }

        &.open {
            .text__content {
                &:nth-child(n + 4) {
                    display: block;
                }
            }

            .text__btn-wrap {
                display: none;
            }
        }

        &__btn-wrap {
            display: block;
        }
    }

    .advantages {
        padding-bottom: 20px;

        &__item {
            flex-basis: 33.333%;
            margin-bottom: 20px;
        }
    }

    .product {
        &__slider {
            width: 100%;
            margin-right: 0;
        }

        &__specifications {
            display: none;
        }

        &__slider-nav {
            display: none;
        }

        &__slider-main {
            width: auto;
            max-width: 100%;
            height: auto;
        }

        &__slider-bullets {
            display: block;
        }

    }


}

@media(max-width: 639px) {
    .title {
        font-size: 24px;
        line-height: 32px;
    }

    .header {
        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.5);
            z-index: 10;
            overflow-y: auto;
            transition: all .3s;
            opacity: 0;
            visibility: hidden;

            &.active {
                opacity: 1;
                visibility: visible;

                .header__nav-container {
                    right: 0;
                }
            }

        }

        &__nav-container {
            position: absolute;
            top: 0;
            right: -150%;
            max-width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
            padding: 0;
            background-color: #fff;
            border-radius: 5px 0 0 5px;
            transition: right .3s;
        }

        .burger {
            display: block;
        }

        .burger-wrap {
            display: block;
            align-self: flex-end;
            padding: 18px 15px;
        }

        &__city {

            font-size: 15px;
            line-height: 18px;
            border-top: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            padding: 15px;
            padding-left: 33px;

            &::before {
                top: 15px;
                left: 15px;
            }
        }

        &__menu {
            flex-grow: 0;
        }

        &__menu-list {
            flex-direction: column;
            justify-content: stretch;

            &>.header__menu-item {
                &:nth-child(n + 6) {
                    display: block;
                }
            }
        }

        &__menu-item {
            &:not(:last-child) {
                margin-right: 0;
            }

            &_more {
                display: none;
            }


        }

        &__menu-link {
            width: 100%;
            padding: 15px;
            border-bottom: 1px solid #E5E5E5;
            font-size: 15px;
            line-height: 18px;
        }

        &__contacts_media {
            padding: 15px;
        }

        &__form {
            display: none;
        }

        &__btn-search_link {
            display: block;
            margin-left: auto;
            margin-right: 5px;
        }

        &__cart {
            font-size: 0;
            background-image: url(../img/icons/cart-blue.svg);
            padding: 0;
            width: 22px;
            height: 23px;
            margin-right: auto;
        }

        &__categories-list {
            flex-wrap: nowrap;
            min-width: auto;
            height: 245px;
            overflow-y: auto;
        }
    }

    .products {
        padding-bottom: 30px;

        &__cards {
            display: flex;
            min-width: 170%;
            gap: 0;
        }

        &__inner {
            overflow-x: scroll;
        }
    }

    .label_discount {
        top: 56%;
    }

    .banner {
        &__inner {
            padding: 30px 26px;
            flex-direction: column;
        }

        &__descr {
            max-width: none;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__title {
            margin-bottom: 10px;
        }
    }

    .links {
        &__item {
            flex-basis: 100%;
            margin-bottom: 13px;

            &.active {
                .links__wrap {
                    margin-top: 10px;
                    opacity: 1;
                }

                .links__list-title::after {
                    transform: rotate(180deg);
                }
            }
        }

        &__wrap {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all .3s ease-out;
            will-change: max-height;

        }

        &__list-title {
            position: relative;
            transition: .5s;
            user-select: none;
            margin-bottom: 0;

            &::after {
                content: '';
                position: absolute;
                top: 10px;
                right: 0;
                width: 12px;
                height: 6px;
                background-image: url(../img/icons/arrow-down.svg);
                transition: transform .5s;
            }
        }
    }

    .news {
        padding-bottom: 25px;

        &__cards {
            grid-template-columns: repeat(4, 300px);
        }
    }

    .news-card {
        &__title {
            &_big {
                font-size: 22px;
                line-height: 28px;
            }
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .text {
        padding-bottom: 23px;

        &__title {
            margin-bottom: 15px;
        }

        &__content {
            font-size: 15px;
            line-height: 24px;
        }
    }

    .advantages {
        &__item {
            flex-basis: 50%;
        }
    }

    .catalog {
        .form-select {
            width: 60%;
        }
    }

    .card-list {
        .card__img {
            width: 170px;
            height: 170px;
            margin-right: 15px;
        }

        .card__labels {
            margin-left: -175px;
        }

        .card__title {
            font-size: 15px;
        }

        .card__price {
            font-size: 18px;

            &_old {
                font-size: 13px;
            }
        }
    }

    .breadcrumbs__link {
        font-size: 12px;
        line-height: 14px;
    }

    .product {
        &__header-wrap {
            flex-basis: 50%;
        }

        .check {
            display: none;
        }

        &__code {
            font-size: 15px;
            text-align: right;
        }

        .swiper-slide {
            height: 500px;
            margin-bottom: 10px;
        }

        .compare-btn {
            display: inline-block;
        }

        .btn {
            padding-left: 20px;
            padding-right: 15px;
        }

        &__box {
            padding: 30px 5px;
        }

        &__link-buy {
            font-size: 15px;
        }
        &__info-items {
            &.active {
                .product__info-wrap {
                    margin-top: 7px;
                    opacity: 1;
                }

                .product__info-btn::after {
                    transform: rotate(180deg);
                }
            }
        }

        &__info-btn {
            width: 100%;
            text-align: left;
            position: relative;
            transition: .5s;
            user-select: none;
            margin-bottom: 0;

            &::after {
                content: '';
                position: absolute;
                top: 10px;
                right: 0;
                width: 12px;
                height: 6px;
                background-image: url(../img/icons/arrow-down.svg);
                transition: transform .5s;
            }
        }

        &__info-wrap {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all .3s ease-out;
            will-change: max-height;
        }
    }

    .footer {
        &__blocks {
            grid-template-columns: 1fr;
        }
    }
}

@media(max-width: 375px) {
    .header {
        &__btn {
            height: 40px;
        }
    }

    .logo {
        width: 175px;
        height: 35px;
    }

    .promo {
        padding-top: 10px;

        &__title {
            font-size: 24px;
            line-height: 35px;
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .banner {
        &__text {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .links {
        &__list-title {
            font-size: 18px;
        }
    }

    .news {
        &__cards {
            grid-template-columns: repeat(4, 220px);
            grid-template-rows: 208px 208px;
        }
    }

    .news-card {
        &__title_big {
            font-size: 19px;
            line-height: 25px;

        }

        &__text {
            font-size: 15px;
            line-height: 22px;
        }
    }

    .advantages {
        &__item {
            flex-basis: 100%;
        }
    }

    .catalog {
        &__select {
            font-size: 14px;
            width: 200px;
        }
    }

    .card-list {
        .card__img {
            width: 140px;
            height: 140px;
        }

        .card__labels {
            margin-left: -152px;
        }

        .card__title {
            font-size: 14px;
        }

        .card__price {
            font-size: 15px;

            &_old {
                font-size: 11px;
            }
        }
    }

    .breadcrumbs {
        &__list {
            flex-wrap: wrap;
        }

        &__item {
            margin-top: 5px;

            &:last-child {
                width: 1005px;
            }
        }
    }

    .product {
        &__box {
            padding-left: 13px;
            padding-right: 13px;
        }

        &__price {
            font-size: 35px;

            &_old {
                font-size: 18px;
            }
        }

        &__actions {
            width: 100%;
            flex-direction: column;
        }

        &__link-buy {
            order: 1;
        }

        &__btn {
            margin-bottom: 15px;
            width: 100%;
        }
    }

    .footer {
        .logo {
            width: auto;
            height: auto;
        }
    }
}